<a href="https://colab.research.google.com/github/Tanishq-Btech/ML-assignments/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_card_data = pd.read_csv('/content/creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [3]:
credit_card_data.shape

(21878, 31)

In [4]:
credit_card_data.sample()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17315,28625,-0.048431,1.570658,-2.163269,1.886197,0.367143,-1.621972,0.9018,0.125871,-0.556444,...,-0.045679,0.09396,0.564419,0.265721,-0.49813,-0.403434,0.091842,-0.100004,99.99,0.0

In [5]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21878 entries, 0 to 21877
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    21878 non-null  int64
 1   V1      21878 non-null  float64
 2   V2      21878 non-null  float64
 3   V3      21878 non-null  float64
 4   V4      21878 non-null  float64
 5   V5      21878 non-null  float64
 6   V6      21878 non-null  float64
 7   V7      21878 non-null  float64
 8   V8      21878 non-null  float64
 9   V9      21878 non-null  float64
 10  V10     21878 non-null  float64
 11  V11     21878 non-null  float64
 12  V12     21878 non-null  float64
 13  V13     21878 non-null  float64
 14  V14     21878 non-null  float64
 15  V15     21878 non-null  float64
 16  V16     21878 non-null  float64
 17  V17     21878 non-null  float64
 18  V18     21878 non-null  float64
 19  V19     21878 non-null  float64
 20  V20     21878 non-null  float64
 21  V21     21878 non-null  float64
 22  V22     21878 non-null  float64
 23  V23     21878 non-null  float64
 24  V24     21878 non-null  float64
 25  V25     21878 non-null  float64
 26  V26     21878 non-null  float64
 27  V27     21878 non-null  float64
 28  V28     21878 non-null  float64
 29  Amount  21877 non-null  float64
 30  Class   21877 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 5.2 MB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [7]:
credit_card_data=credit_card_data.dropna()

In [8]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

Class
0.0    21791
1.0       86
Name: count, dtype: int64

In [10]:
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data['Class']==1]

In [11]:
fraud['Class']

541      1.0
623      1.0
4920     1.0
6108     1.0
6329     1.0
        ...
18466    1.0
18472    1.0
18773    1.0
18809    1.0
20198    1.0
Name: Class, Length: 86, dtype: float64

In [12]:
# statistical measures of the data
legit.Amount.describe()

count    21791.000000
mean        71.637403
std        204.790148
min          0.000000
25%          5.990000
50%         17.500000
75%         62.120000
max       7879.420000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count      86.000000
mean       93.996860
std       260.195133
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [14]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,16920.948098,-0.207315,0.197324,0.790011,0.238431,-0.151823,0.097864,-0.108141,0.001903,0.576156,...,0.036815,-0.045323,-0.139174,-0.036473,0.011836,0.124802,0.028728,0.008602,0.005937,71.637403
1.0,17592.162791,-8.792044,6.504115,-12.461366,6.302522,-6.112129,-2.534417,-8.479521,4.438385,-3.005413,...,0.704824,0.536947,-0.386820,-0.379114,-0.264854,0.349233,0.177437,0.867258,0.096510,93.996860

In [15]:
legit_sample = legit.sample(n=492)

In [16]:
new_df = pd.concat([legit_sample,fraud],axis=0)

In [17]:
new_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
13406,23698,-2.165019,2.148295,-0.916765,1.196738,0.408714,-0.933535,-0.316555,0.886097,0.272150,...,-0.109395,-0.150845,-0.459103,-0.535985,-0.022264,-0.362026,0.025322,-0.088793,3.76,0.0
5761,6136,-0.560847,1.074482,1.942008,-0.353774,0.254494,-0.834093,0.793169,-0.164142,0.686287,...,-0.221661,-0.404685,0.094240,0.547959,-0.586622,-0.205613,0.069292,0.137040,1.29,0.0
19637,30426,1.211139,0.902238,-1.727756,1.448419,1.290871,-0.031054,0.231157,0.169663,-0.091350,...,-0.250834,-0.574671,-0.316565,-1.484661,0.853664,-0.169854,0.057519,0.066764,1.00,0.0
16134,27553,-0.628435,0.250887,2.397894,-1.846467,-0.557865,-0.782765,0.238902,-0.234454,-1.042277,...,0.259981,0.910257,-0.413641,0.421863,0.522132,-0.201438,0.124236,-0.096740,10.40,0.0
7487,10204,0.962015,0.204427,0.990439,2.746595,-0.039910,0.763077,-0.271526,0.032699,0.913904,...,0.016375,0.300372,-0.209878,-0.428688,0.501168,0.148425,0.002336,0.032330,98.59,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18466,29526,1.102804,2.829168,-3.932870,4.707691,2.937967,-1.800904,1.672734,-0.300240,-2.783011,...,-0.106994,-0.250050,-0.521627,-0.448950,1.291646,0.516327,0.009146,0.153318,0.68,1.0
18472,29531,-1.060676,2.608579,-2.971679,4.360089,3.738853,-2.728395,1.987616,-0.357345,-2.757535,...,-0.063168,-0.207385,-0.183261,-0.103679,0.896178,0.407387,-0.130918,0.192177,0.68,1.0
18773,29753,0.269614,3.549755,-5.810353,5.809370,1.538808,-2.269219,-0.824203,0.351070,-3.759059,...,0.371121,-0.322290,-0.549856,-0.520629,1.378210,0.564714,0.553255,0.402400,0.68,1.0
18809,29785,0.923764,0.344048,-2.880004,1.721680,-3.019565,-0.639736,-3.801325,1.299096,0.864065,...,0.899931,1.481271,0.725266,0.176960,-1.815638,-0.536517,0.489035,-0.049729,30.30,1.0
20198,30852,-2.830984,0.885657,1.199930,2.861292,0.321669,0.289966,1.767760,-2.451050,0.069736,...,0.546589,0.334971,0.172106,0.623590,-0.527114,-0.079215,-2.532445,0.311177,104.81,1.0

In [18]:
new_df['Class'].value_counts()

Class
0.0    492
1.0     86
Name: count, dtype: int64

In [19]:
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [21]:
model=LogisticRegression()

In [22]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Training data :  0.9891774891774892
Accuracy on Test data :  0.9827586206896551

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [23]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9827586206896551

In [24]:
import pickle
from google.colab import files

# Save the trained model
filename = 'credit_card_model.pkl'
pickle.dump(model, open(filename, 'wb'))

print(f"Model saved as {filename}")

# Code to download the file
files.download(filename)

Model saved as credit_card_model.pkl